.PostMetaInfo {
  font-size: 0.9rem;
  color: hsl(0, 0, 33);
  font-weight: 400;
  padding: 0 0 0.8rem 0;

  @media (max-width: 900px) {
    font-size: 0.8rem;
  }

  &__link {
    color: black;
    font-weight: 500;
  }
}
